body {
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #fff;
  font-family: "PT Sans", Arial, Helwetica, sans-serif;
  line-height: 26px;
  font-size: 12px;
  font-weight: bold;
  color: #000;
  text-transform: uppercase;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
  height: 20px;
  background-color: white;
  background-image: linear-gradient(-45deg, white 45%, black 50%, white 55%);
  background-size: 20px;
}
.container {
  width: 1200px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.main-header {
  height: 60px;
  color: #ffffff;
  width: 1200px;
  margin: 0 auto;
}

.main-navigation {
  min-height: 60px;
  width: 1200px;
  position: relative;
  z-index: 2;
}

.main-navigation ul {
 width: 530px;
 height: 60px;
 margin: 0;
 padding: 0;
 list-style: none;
 font-size: 0;
}


.main-navigation .left {
  float: left;
}

.main-navigation .right {
  float: right;
}

.main-navigation li{
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  padding-top: 16px;
  float: left;
  width: 50%;
}

.main-navigation a {
  font-size: 14px;
  line-height: 26px;
  text-decoration: none;
  color: black;
}

.main-navigation a:hover {
  color: #b3d1e4;
}

.main-navigation a:active {
  color: #b2b2b2;
}

.image {
  position: relative;
  width: 100% ;
  height: 510px;
  background-image: url("../img/backgroundphoto1200х570).png");
  background-repeat: no-repeat;
}

.welcome {
  width:260px;
  height: 90px;
  margin: 0 auto;
  padding-top: 50px;
}

.logo-content {
  width:460px;
  height: 205px;
  margin: 0 auto;
  padding-top: 40px;
}

.background-add {
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 60px;
  background-size: 100% 60px;
  background-repeat: no-repeat;
}

.description {
  text-align: center;
  margin: 0 auto;
  width: 500px;
}

.description-main {
  margin-top: 65px;
  margin-bottom: 0;
  line-height: 26px;
  font-size: 21px;
}

.description-add {
  margin-top: 40px;
  margin-bottom: 60px;
  line-height: 26px;
  font-size: 14px;
  color: #b1b1b1;
}
h1 {
  line-height: 26px;
  font-size: 21px;
  color: black;
  font-style: bold;
}

.image-block-header {
  line-height: 21px;
  font-size: 21px;
  color: #fff;
}

.image-block-number,
.image-block-description {
  line-height: 21px;
  font-size: 14px;
  color: #fff;
}

.block-type,
.block-bottom-header {
  line-height: 21px;
  font-size: 21px;
  color: #000;
}
.block-bottom-number {
  line-height: 21px;
  font-size: 14px;
  color: #bebebe;
}
.block-main, .block-bottom-main{
  width: 280px;
  margin: 0 auto;
  line-height: 21px;
  font-size: 14px;
  color: #bebebe;
}
.block-bottom-main {
  width: 250px;
}


.block-top {
  width: 1200px;
  height: 590px;
  background-color: #f55353;
}

.block-bottom {
  top: 0;
  width: 1200px;
  height: 510px;
  background-color: #eb8686;
}
.block-top-text,  .block-bottom-text {
  padding-top: 50px;
  display: block;
  font-size: 21px;
  line-height: 21px;
  float: left;
  display: inline-block;
  text-align: center;
  width: 400px;
  min-height: 210px;
  background-color: #81b3d2;
  color: #ffffff;
}

.block-top-features {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  width: 100%;
  height: 330px;
  background-color: #fff;

}
.block-top-feature  {
 width: 400px;
 height: 330px;
 margin-top: 60px;
 float: left;

}
.block-bottom-features {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  width: 100%;
  height: 260px;
  background-color: #eee;
}
.block-bottom-feature {
  width: 400px;
  float: left;
  padding-top: 50px;
  background-color: #eee;
}

.image-block {
  width: 100%;
  height: 260px;
}
.image-block-img {
  float: right;
  width: 66%;
  height: 260px;
}

.image-block-text {
  float: left;
  display: inline-block;
  text-align: center;
  width: 34%;
  height: 200px;
  padding-top: 60px;
  background-color: #81b3d2;
}
.image-block-description {
  display: inline-block;
  text-align: center;
}

.offer {
  position: relative;
  width: 100%;
}

.offer-text-header {
  line-height: 24px;
  font-size: 24px;
  color: #000;
}

.offer-text-main {
  line-height: 21px;
  font-size: 14px;
  color: #bebebe;
}

.offer-text {
  text-align: center;
  padding-top: 50px;
  width: 100%;
  min-height: 250px;
}

.map {
  width: 100%;
  background-color: black;
  background-image: url("../img/map.png");
}

/*Модальное окно*/

.search-offer {
  position: absolute;
  width: 570px;
  height: 480px;
  top: 195px;
  right: 350px;
  left: 350px;
  background-color: #fff;
}

.search-text  {
  padding-top: 20px;
  width: 570px;
  height: 85px;
  background-color: #766357;
  color: white;
}

.search-text p {
  text-align: center;
  line-height: 26px;
  font-size: 21px;
}

.main-search {
  padding: 60px;
  height: 290px;
}

form {
  width: 460px;
  height: 285px;
}
.start, .finish {
  display: flex;
  justify-content: center;
  height: 40px;
  width: 450px;
}
.date-start, .date-finish {
  display: flex;
  justify-content: space-around;/**/
  align-items: center;
  width: 340px;
  height: 40px;
  background-color: #f2f2f2;
}
.finish {
  margin-top: 30px;
}
.data-text {
  text-align: left;
  width: 110px;
  height: 45px;
  margin-top: -5px;
  line-height: 26px;
  font-size: 14px;
  color: #000;
}
.date-img {
  display: flex;
  justify-content: flex-end;/**/
  align-items:  center;
  width: 40px;
  height: 40px;
}

.people-container {
  margin-top: 30px;
  width: 450px;
  height: 60px;
}
.people {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 450px;
  height: 40px;
}
.select  {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
}
.people-adults, .people-children {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 225px;
  height: 40px;
}

.people-text {
  text-align: left;
  width: 50%;
  line-height: 26px;
  font-size: 14px;
  color: #000;
}
.adultc-quants, .children-quants {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 50%;
  height: 40px;
  background-color: #f2f2f2;
}


input[type="number"] {
  display: none;
}
.btn {
  width: 450px;
  height: 60px;
  line-height: 26px;
  font-size: 21px;
  font-weight: bold;
  text-transform: uppercase;
  background-color: #81b3d2;
  color: #fff;
  padding-bottom: 0px;
}

/*Подвал*/

.footer {
  width: 100%;
  height: 120px;
  background: rgba(255, 255, 255, 0.1);
}

.footer-visit, .footer-socials {
  width: 33%;
  height: 120px;
}

.footer-visit,.footer-socials  {
  float: left;
}
.footer-develop {
  display: inline-block;
  width: 33%;
  height: 120px;
}

.footer-develop p {
  display: inline-block;
  text-align: center;
  font-weight: normal;
  line-height: 26px;
  font-size: 14px;
  padding-left: 100px;
}

.footer-develop img {
  width: 115px;
  height: 40px;
  margin-top: 40px;
}

.footer-visit a {
  display: inline-block;
  text-align: center;
  font-size: 25px;
  color: #000;
  text-decoration: none;
  margin-left: 130px;
  padding-top: 50px;

}

.footer-socials {
 display: flex;
 justify-content: center;
 align-items: center;
 width: 400px;
 min-height: 120px;
}

.btn-socials {
  background-color: #81b3d2;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.btn-tw, .btn-fb {
  margin-right: 5px;
}



















/*sedona-hotels////inner.html*/

.main {
  width: 1200px;
  height: 760px;

}
.main-filter {
  width: 1200px;
  height: 220px;
  background: #000000 url("../img/Фон(hotels).jpg") 10% 0%;
  background-size: 1200px 1200px;

}
.infrastructure {
  float: left;
  width: 600px;
  height: 220px;
}
input[type="checkbox"] {
  display: none;
}
.infrastructure-left {
  float: left;
  line-height: 35px;
  padding-left: 75px;
  width: 225px;
  height: 220px;
}
.infrastructure-right {
  float: right;
  line-height: 35px;
  padding-left: 75px;
  width: 225px;
  height: 220px;
}
.price {
  float: right;
  line-height: 35px;
  padding-left: 75px;
  width: 525px;
  height: 220px;
  color: #ffffff;
}

.sum {
  padding-left: auto;
  padding-right: auto;
  width: 320px;
  height: 20px;
}
.sum-start,.sum-finish {
  float: left;
  width: 150px;
  height: 20px;
  border: 3px solid #ffffff;
  border-right: 3px dashed #ffffff;

}
.sum-finish {
  margin-right: 0;
  border-left: none;
  border-right: 3px solid #ffffff;
}

.sum p {
  text-align: center;
  vertical-align: middle;
}
.filter-search {
  float: left;
  width: 1200px;
  height: 90px;
  background-color: rgba(0,0,0,0.5);
}

.sorting-search {
  vertical-align: middle;
  text-align: center;
  font-size: 16px;
  float: left;
  width: 240px;
  height: 90px;
  background-color: white;
}
.sorting-buttom {
  float: left;
  width: 860px;
  height: 90px;
  background-color: white;
}
.price-button, .type-button, .rating-button {
  float: left;
  height: 15px;
  width: 25%;
  margin: 0 auto;
}
.rating-button {
  margin-right: 0;
}
.sorting-buttom-right{
  float: right;
  width: 100px;
  height: 90px;
  background-color: white;
}

.buttom-right {
  width: 50px;
  height: 20px;
}
.search-results {
  position: relative;
  margin-top: 90px;
  width: 1200px;
  height: 450px;
  background-color: yellow;
}
.search-result {/*Как оттолкнуть от*/
  position: absolute;
  margin-top: 0px;
  width: 1200px;
  height: 150px;
  background-color: white;
}
.result-img {
  position: absolute;
  margin-top: 0;
  float: left;
  width: 135px;
  height: 90px;
  margin-left:
}

.result-main {
  position: absolute;
  margin-left: 135px;
  margin-top: 0;
  width: 760px;
  height: 90px;
  background-color: white;
}

.result-name {
  display: inline-block;
  width: 100%;
  height: 10px;
  text-align: left;
  vertical-align: middle;
}
.result-type {
  width: 100%;
  height: 10px;
  display: inline-block;
  text-align: left;
}
.result-button {
  width: 100%;
  height: 10px;

}
.rating {
  width: 305px;
  height: 90px;
  background-color: yellow;
  position: absolute;
  margin-top: 0;
  margin-left: 895px;
}
.rating-text {
  width: 100px;
  height: 20px;
}



/*Не совсем понимаю как разметить блок .search-result, делать их с разными классами?
, чтобы они не наезжали друг на друга?
и вопрос по разметке названия отеля, цены и кнопок?*/
